[Desktop Entry]
Name=MSGA
Comment=Fast native Slack client
Exec=/home/robin/src/nisdos/msga/build/msga %u
Icon=/home/robin/src/nisdos/msga/gfx/icon_256.png
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=msga
MimeType=x-scheme-handler/msga;
