[Desktop Entry]
Name=MSGA
Comment=Fast native Slack client
Exec=msga %u
Icon=msga
Type=Application
Categories=Network;InstantMessaging;
StartupWMClass=msga
MimeType=x-scheme-handler/msga;
